.contentPage{
  margin: 0px 2rem;
}
.links{
  display: flex;
  gap: 25px;
  
  
}
.links a{
  padding: 0px 0.8rem 0.5rem 0.8rem;
}
hr{
  margin:0px;
  border-color: gray;
  padding: 0;

}

.inPage{
  border-bottom: 0.2rem solid white;
  padding: 0px 0.8rem 0.5rem 0.8rem;
  margin: 0;
}

.Title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin:20px 0px;
}