.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 93vw;
  margin-left: 2rem;
  
}
.header{
  
  
  display: flex;
  background-color: rgba(20, 20, 20, 0.685);
  justify-content: space-between;
  width: 100%;
}
.content{
  width: 100%;
}
.items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding: 0.5rem 0;
}

.items p, .items button {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  /* background-color: rgb(238, 26, 26); */
}
 
 
