
.container{
  background-color:#d7e1e7;
  display: flex;
  border-radius: 20px;
  min-height: 55vh;
  justify-content: center;
  align-items: center;
  margin:2rem auto;
  max-width: 900px;
}
.content{
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 30px;
  gap: 30px 0px;
}

.poster{
  border: 8px solid black;
  box-shadow: 0 24px 32px -16px rgba(0,0,0,0.4);
}