.title{
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards{
  padding: 0rem 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  
}