.button{
  background-image: linear-gradient(to right,#044b92, #069df5);
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}