.container00{
  background-image:url(../../image/home/01.jpg);
  
  .sidecontent-1{
    margin-top: 200px;
  }
  
}
.container01{
  background-image:url(../../image/home/03.jpg);
  .sidecontent-2{
    padding-top: 250px;
  }
}
.container02{
  background-image:url(../../image/home/02.gif);
  background-size: cover;
  
  .sidecontent-2{
    padding-top: 200px;
  }
}
.container03{
  background-image:url(../../image/home/04.jpg);
  .sidecontent-2{
    padding-top: 200px;
  }
}


